# En esta sección en donde descargamos todas las librería. Obtenemos el contenido html en formato json y lo pasamos a un DataFrame para visualizarlo

In [56]:

import requests 
import json
import os 
import pandas as pd
from bs4 import BeautifulSoup
import numpy as np

In [11]:
#Hacer el requests para visualizar los datos 
def beggining(url):
    page=requests.get(url)
    return page.json()

In [12]:
df = beggining('https://restcountries.com/v2/all')

In [13]:
# Creando el DataFrame
df =pd.DataFrame(df)
df

,name,topLevelDomain,alpha2Code,alpha3Code,callingCodes,capital,altSpellings,subregion,region,population,...,numericCode,flags,currencies,languages,translations,flag,regionalBlocs,cioc,independent,gini
0,Afghanistan,[.af],AF,AFG,[93],Kabul,"[AF, Afġānistān]",Southern Asia,Asia,40218234,...,004,{'svg': 'https://upload.wikimedia.org/wikipedi...,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...","[{'iso639_1': 'ps', 'iso639_2': 'pus', 'name':...","{'br': 'Afghanistan', 'pt': 'Afeganistão', 'nl...",https://upload.wikimedia.org/wikipedia/commons...,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",AFG,True,NaN
1,Åland Islands,[.ax],AX,ALA,[358],Mariehamn,"[AX, Aaland, Aland, Ahvenanmaa]",Northern Europe,Europe,28875,...,248,"{'svg': 'https://flagcdn.com/ax.svg', 'png': '...","[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]","[{'iso639_1': 'sv', 'iso639_2': 'swe', 'name':...","{'br': 'Åland', 'pt': 'Ilhas de Aland', 'nl': ...",https://flagcdn.com/ax.svg,"[{'acronym': 'EU', 'name': 'European Union'}]",NaN,False,NaN
2,Albania,[.al],AL,ALB,[355],Tirana,"[AL, Shqipëri, Shqipëria, Shqipnia]",Southern Europe,Europe,2837743,...,008,"{'svg': 'https://flagcdn.com/al.svg', 'png': '...","[{'code': 'ALL', 'name': 'Albanian lek', 'symb...","[{'iso639_1': 'sq', 'iso639_2': 'sqi', 'name':...","{'br': 'Albania', 'pt': 'Albânia', 'nl': 'Alba...",https://flagcdn.com/al.svg,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",ALB,True,33.2
3,Algeria,[.dz],DZ,DZA,[213],Algiers,"[DZ, Dzayer, Algérie]",Northern Africa,Africa,44700000,...,012,"{'svg': 'https://flagcdn.com/dz.svg', 'png': '...","[{'code': 'DZD', 'name': 'Algerian dinar', 'sy...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'br': 'Aljeria', 'pt': 'Argélia', 'nl': 'Alge...",https://flagcdn.com/dz.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",ALG,True,27.6
4,American Samoa,[.as],AS,ASM,[1],Pago Pago,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",Polynesia,Oceania,55197,...,016,"{'svg': 'https://flagcdn.com/as.svg', 'png': '...","[{'code': 'USD', 'name': 'United States Dollar...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Samoa Amerikan', 'pt': 'Samoa American...",https://flagcdn.com/as.svg,NaN,ASA,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Wallis and Futuna,[.wf],WF,WLF,[681],Mata-Utu,"[WF, Territory of the Wallis and Futuna Island...",Polynesia,Oceania,11750,...,876,"{'svg': 'https://flagcdn.com/wf.svg', 'png': '...","[{'code': 'XPF', 'name': 'CFP franc', 'symbol'...","[{'iso639_1': 'fr', 'iso639_2': 'fra', 'name':...","{'br': 'Wallis ha Futuna', 'pt': 'Wallis e Fut...",https://flagcdn.com/wf.svg,NaN,NaN,False,NaN
246,Western Sahara,[.eh],EH,ESH,[212],El Aaiún,"[EH, Taneẓroft Tutrimt]",Northern Africa,Africa,510713,...,732,"{'svg': 'https://flagcdn.com/eh.svg', 'png': '...","[{'code': 'MAD', 'name': 'Moroccan dirham', 's...","[{'iso639_1': 'es', 'iso639_2': 'spa', 'name':...","{'br': 'Sahara ar C'hornôg', 'pt': 'Saara Ocid...",https://flagcdn.com/eh.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",NaN,False,NaN
247,Yemen,[.ye],YE,YEM,[967],Sana'a,"[YE, Yemeni Republic, al-Jumhūriyyah al-Yamani...",Western Asia,Asia,29825968,...,887,"{'svg': 'https://flagcdn.com/ye.svg', 'png': '...","[{'code': 'YER', 'name': 'Yemeni rial', 'symbo...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'br': 'Yemen', 'pt': 'Iémen', 'nl': 'Jemen', ...",https://flagcdn.com/ye.svg,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",YEM,True,36.7
248,Zambia,[.zm],ZM,ZMB,[260],Lusaka,"[ZM, Republic of Zambia]",Eastern Africa,Africa,18383956,...,894,"{'svg': 'https://flagcdn.com/zm.svg', 'png': '...","[{'code': 'ZMW', 'name': 'Zambian kwacha', 'sy...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Zambia', 'pt': 'Zâmbia', 'nl': 'Zambia...",https://flagcdn.com/zm.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",ZAM,True,57.1
249,Zimbabwe,[.zw],ZW,ZWE,[263],Harare,"[ZW, Republic of Zimbabwe]",Southern Africa,Africa,14862927,...,716,"{'svg': 'https://flagcdn.com/zw.svg', 'png': '...","[{'code': 'ZMW', 'name': 'Zambian kwacha', 'sy...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Zimbabwe', 'pt': 'Zimbabué', 'nl': 'Zi...",https://flagcdn.com/zw.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",ZIM,True,50.3

# Ahora que vemos que los datos nos son úitiles, hacemos un output al folder donde vamos a empezar a trabajar

In [6]:

#!curl https://restcountries.com/v2/all> output.json

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  276k  100  276k    0     0   503k      0 --:--:-- --:--:-- --:--:--  503k

In [33]:
doc = open('output.json')
data = json.load(doc)
df=pd.DataFrame(data) 
df

,name,topLevelDomain,alpha2Code,alpha3Code,callingCodes,capital,altSpellings,subregion,region,population,...,numericCode,flags,currencies,languages,translations,flag,regionalBlocs,cioc,independent,gini
0,Afghanistan,[.af],AF,AFG,[93],Kabul,"[AF, Afġānistān]",Southern Asia,Asia,40218234,...,004,{'svg': 'https://upload.wikimedia.org/wikipedi...,"[{'code': 'AFN', 'name': 'Afghan afghani', 'sy...","[{'iso639_1': 'ps', 'iso639_2': 'pus', 'name':...","{'br': 'Afghanistan', 'pt': 'Afeganistão', 'nl...",https://upload.wikimedia.org/wikipedia/commons...,"[{'acronym': 'SAARC', 'name': 'South Asian Ass...",AFG,True,NaN
1,Åland Islands,[.ax],AX,ALA,[358],Mariehamn,"[AX, Aaland, Aland, Ahvenanmaa]",Northern Europe,Europe,28875,...,248,"{'svg': 'https://flagcdn.com/ax.svg', 'png': '...","[{'code': 'EUR', 'name': 'Euro', 'symbol': '€'}]","[{'iso639_1': 'sv', 'iso639_2': 'swe', 'name':...","{'br': 'Åland', 'pt': 'Ilhas de Aland', 'nl': ...",https://flagcdn.com/ax.svg,"[{'acronym': 'EU', 'name': 'European Union'}]",NaN,False,NaN
2,Albania,[.al],AL,ALB,[355],Tirana,"[AL, Shqipëri, Shqipëria, Shqipnia]",Southern Europe,Europe,2837743,...,008,"{'svg': 'https://flagcdn.com/al.svg', 'png': '...","[{'code': 'ALL', 'name': 'Albanian lek', 'symb...","[{'iso639_1': 'sq', 'iso639_2': 'sqi', 'name':...","{'br': 'Albania', 'pt': 'Albânia', 'nl': 'Alba...",https://flagcdn.com/al.svg,"[{'acronym': 'CEFTA', 'name': 'Central Europea...",ALB,True,33.2
3,Algeria,[.dz],DZ,DZA,[213],Algiers,"[DZ, Dzayer, Algérie]",Northern Africa,Africa,44700000,...,012,"{'svg': 'https://flagcdn.com/dz.svg', 'png': '...","[{'code': 'DZD', 'name': 'Algerian dinar', 'sy...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'br': 'Aljeria', 'pt': 'Argélia', 'nl': 'Alge...",https://flagcdn.com/dz.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",ALG,True,27.6
4,American Samoa,[.as],AS,ASM,[1],Pago Pago,"[AS, Amerika Sāmoa, Amelika Sāmoa, Sāmoa Amelika]",Polynesia,Oceania,55197,...,016,"{'svg': 'https://flagcdn.com/as.svg', 'png': '...","[{'code': 'USD', 'name': 'United States Dollar...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Samoa Amerikan', 'pt': 'Samoa American...",https://flagcdn.com/as.svg,NaN,ASA,False,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
245,Wallis and Futuna,[.wf],WF,WLF,[681],Mata-Utu,"[WF, Territory of the Wallis and Futuna Island...",Polynesia,Oceania,11750,...,876,"{'svg': 'https://flagcdn.com/wf.svg', 'png': '...","[{'code': 'XPF', 'name': 'CFP franc', 'symbol'...","[{'iso639_1': 'fr', 'iso639_2': 'fra', 'name':...","{'br': 'Wallis ha Futuna', 'pt': 'Wallis e Fut...",https://flagcdn.com/wf.svg,NaN,NaN,False,NaN
246,Western Sahara,[.eh],EH,ESH,[212],El Aaiún,"[EH, Taneẓroft Tutrimt]",Northern Africa,Africa,510713,...,732,"{'svg': 'https://flagcdn.com/eh.svg', 'png': '...","[{'code': 'MAD', 'name': 'Moroccan dirham', 's...","[{'iso639_1': 'es', 'iso639_2': 'spa', 'name':...","{'br': 'Sahara ar C'hornôg', 'pt': 'Saara Ocid...",https://flagcdn.com/eh.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",NaN,False,NaN
247,Yemen,[.ye],YE,YEM,[967],Sana'a,"[YE, Yemeni Republic, al-Jumhūriyyah al-Yamani...",Western Asia,Asia,29825968,...,887,"{'svg': 'https://flagcdn.com/ye.svg', 'png': '...","[{'code': 'YER', 'name': 'Yemeni rial', 'symbo...","[{'iso639_1': 'ar', 'iso639_2': 'ara', 'name':...","{'br': 'Yemen', 'pt': 'Iémen', 'nl': 'Jemen', ...",https://flagcdn.com/ye.svg,"[{'acronym': 'AL', 'name': 'Arab League', 'oth...",YEM,True,36.7
248,Zambia,[.zm],ZM,ZMB,[260],Lusaka,"[ZM, Republic of Zambia]",Eastern Africa,Africa,18383956,...,894,"{'svg': 'https://flagcdn.com/zm.svg', 'png': '...","[{'code': 'ZMW', 'name': 'Zambian kwacha', 'sy...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Zambia', 'pt': 'Zâmbia', 'nl': 'Zambia...",https://flagcdn.com/zm.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",ZAM,True,57.1
249,Zimbabwe,[.zw],ZW,ZWE,[263],Harare,"[ZW, Republic of Zimbabwe]",Southern Africa,Africa,14862927,...,716,"{'svg': 'https://flagcdn.com/zw.svg', 'png': '...","[{'code': 'ZMW', 'name': 'Zambian kwacha', 'sy...","[{'iso639_1': 'en', 'iso639_2': 'eng', 'name':...","{'br': 'Zimbabwe', 'pt': 'Zimbabué', 'nl': 'Zi...",https://flagcdn.com/zw.svg,"[{'acronym': 'AU', 'name': 'African Union', 'o...",ZIM,True,50.3

# Empezamos a seleccionar, renombrar y reorganizar las columnas que nos interesan

In [34]:
df.rename(columns={'name':'Países/Colonias',
                        'capital':'Capital','subregion':'Subregión','region':'Región','population':'Población','latlng':'Latitud/longitud','area':'KM^2','languages':'Idiomas','independent':'Independiente','gini':'Gini'},
               inplace=True)

In [35]:
dff =df.drop(['alpha2Code','alpha3Code','callingCodes','altSpellings','timezones','borders','nativeName','numericCode', 'flags', 'currencies','translations',
       'flag', 'regionalBlocs', 'cioc','topLevelDomain','demonym','Idiomas'], axis=1)

In [116]:
#Reorganizando un columna 'latln'
# Se cambio el nombre y se corrigio a mano el único error NAN

df_lat=pd.DataFrame(dff['Latitud/longitud'].to_list(),columns = ['Latitud', 'Longitud'])
dff1 = pd.concat([dff, df_lat], axis=1)
dff2=dff1.drop(['Latitud/longitud'],axis=1)

In [117]:
#Renombrar las columnas 
dff2 = dff2.reindex(columns=['Países/Colonias','Capital','Región','Subregión','Latitud','Longitud','Población','KM^2','Independiente','Gini'])
dff2

,Países/Colonias,Capital,Región,Subregión,Latitud,Longitud,Población,KM^2,Independiente,Gini
0,Afghanistan,Kabul,Asia,Southern Asia,33.000000,65.0,40218234,652230.0,True,NaN
1,Åland Islands,Mariehamn,Europe,Northern Europe,60.116667,19.9,28875,1580.0,False,NaN
2,Albania,Tirana,Europe,Southern Europe,41.000000,20.0,2837743,28748.0,True,33.2
3,Algeria,Algiers,Africa,Northern Africa,28.000000,3.0,44700000,2381741.0,True,27.6
4,American Samoa,Pago Pago,Oceania,Polynesia,-14.333333,-170.0,55197,199.0,False,NaN
...,...,...,...,...,...,...,...,...,...,...
245,Wallis and Futuna,Mata-Utu,Oceania,Polynesia,-13.300000,-176.2,11750,142.0,False,NaN
246,Western Sahara,El Aaiún,Africa,Northern Africa,24.500000,-13.0,510713,266000.0,False,NaN
247,Yemen,Sana'a,Asia,Western Asia,15.000000,48.0,29825968,527968.0,True,36.7
248,Zambia,Lusaka,Africa,Eastern Africa,-15.000000,30.0,18383956,752618.0,True,57.1
249,Zimbabwe,Harare,Africa,Southern Africa,-20.000000,30.0,14862927,390757.0,True,50.3

# Con los datos organizados ahora podemos empezar el análisis. 
Lo que queremos es tener un contexto de la situación general de los territorios dependientes. 
Para esto creamos una tabla con las características de interés

In [129]:
#Tabla de Gini 
df_p = dff2['Países/Colonias']
df_s= dff2['Subregión']
df_pop=dff2['Población']
df_in= dff2['Independiente']
df_g = dff2['Gini']
df_r = dff2['Región']
df_l = dff2['Latitud']

In [130]:
df_todos= pd.concat([df_p, df_s,df_r,df_pop,df_l,df_in,df_g], axis=1)

In [131]:
comparativo = df_todos[df_todos['Independiente']== False]
comparativo

,Países/Colonias,Subregión,Región,Población,Latitud,Independiente,Gini
1,Åland Islands,Northern Europe,Europe,28875,60.116667,False,NaN
4,American Samoa,Polynesia,Oceania,55197,-14.333333,False,NaN
7,Anguilla,Caribbean,Americas,13452,18.250000,False,NaN
8,Antarctica,Antarctica,Polar,1000,-74.650000,False,NaN
24,Bermuda,Northern America,Americas,63903,32.333333,False,NaN
30,Bouvet Island,South Antarctic Ocean,Antarctic Ocean,0,-54.433333,False,NaN
33,United States Minor Outlying Islands,Northern America,Americas,300,19.170000,False,NaN
34,Virgin Islands (British),Caribbean,Americas,30237,18.431383,False,NaN
35,Virgin Islands (U.S.),Caribbean,Americas,106290,18.340000,False,NaN
44,Cayman Islands,Caribbean,Americas,65720,19.500000,False,NaN
49,Christmas Island,Australia and New Zealand,Oceania,2072,-10.500000,False,NaN
50,Cocos (Keeling) Islands,Australia and New Zealand,Oceania,550,-12.500000,False,NaN
59,Curaçao,Caribbean,Americas,155014,12.116667,False,NaN
73,Falkland Islands (Malvinas),South America,Americas,2563,-51.750000,False,NaN
74,Faroe Islands,Northern Europe,Europe,48865,62.000000,False,NaN
78,French Guiana,South America,Americas,254541,4.000000,False,NaN
79,French Polynesia,Polynesia,Oceania,280904,-15.000000,False,NaN
80,French Southern Territories,Southern Africa,Africa,140,-49.250000,False,NaN
86,Gibraltar,Southern Europe,Europe,33691,36.133333,False,NaN
88,Greenland,Northern America,Americas,56367,72.000000,False,NaN
90,Guadeloupe,Caribbean,Americas,400132,16.250000,False,NaN
91,Guam,Micronesia,Oceania,168783,13.466667,False,NaN
93,Guernsey,Northern Europe,Europe,62999,49.466667,False,NaN
98,Heard Island and McDonald Islands,Antarctic,Antarctic,0,-53.100000,False,NaN
102,Hong Kong,Eastern Asia,Asia,7481800,22.250000,False,NaN
110,Isle of Man,Northern Europe,Europe,85032,54.250000,False,NaN
115,Jersey,Northern Europe,Europe,100800,49.250000,False,NaN
131,Macao,Eastern Asia,Asia,649342,22.166667,False,NaN
140,Martinique,Caribbean,Americas,378243,14.666667,False,NaN
143,Mayotte,Eastern Africa,Africa,226915,-12.833333,False,NaN
150,Montserrat,Caribbean,Americas,4922,16.750000,False,NaN
158,New Caledonia,Melanesia,Oceania,271960,-21.500000,False,NaN
164,Norfolk Island,Australia and New Zealand,Oceania,2302,-29.033333,False,NaN
166,Northern Mariana Islands,Micronesia,Oceania,57557,15.200000,False,NaN
180,Puerto Rico,Caribbean,Americas,3194034,18.250000,False,NaN
183,Réunion,Eastern Africa,Africa,840974,-21.150000,False,NaN
187,Saint Barthélemy,Caribbean,Americas,9417,18.500000,False,NaN
188,"Saint Helena, Ascension and Tristan da Cunha",Western Africa,Africa,4255,-15.950000,False,NaN
191,Saint Martin (French part),Caribbean,Americas,38659,18.083333,False,NaN
192,Saint Pierre and Miquelon,Northern America,Americas,6069,46.833333,False,NaN
203,Sint Maarten (Dutch part),Caribbean,Americas,40812,18.033333,False,NaN
209,South Georgia and the South Sandwich Islands,South America,Americas,30,-54.500000,False,NaN
216,Svalbard and Jan Mayen,Northern Europe,Europe,2562,78.000000,False,NaN
227,Tokelau,Polynesia,Oceania,1411,-9.000000,False,NaN
233,Turks and Caicos Islands,Caribbean,Americas,38718,21.750000,False,NaN
241,Uzbekistan,Central Asia,Asia,34232050,41.000000,False,35.3
245,Wallis and Futuna,Polynesia,Oceania,11750,-13.300000,False,NaN
246,Western Sahara,Northern Africa,Africa,510713,24.500000,False,NaN

### Pruebas ####
En esta parte nos interesa conocer acerca de los Territorios dependientes

In [132]:
#Número de Territorios dependientes 
#son 48 territoriod dependientes en el mundo 
len(comparativo)

48

### Para la región de Europa

In [141]:
#Solo Gibraltar(territorio británico en ultramar) esta en el subregión sur 
df_europa = comparativo[comparativo['Región']== 'Europe']
df_europa

,Países/Colonias,Subregión,Región,Población,Latitud,Independiente,Gini
1,Åland Islands,Northern Europe,Europe,28875,60.116667,False,NaN
74,Faroe Islands,Northern Europe,Europe,48865,62.000000,False,NaN
86,Gibraltar,Southern Europe,Europe,33691,36.133333,False,NaN
93,Guernsey,Northern Europe,Europe,62999,49.466667,False,NaN
110,Isle of Man,Northern Europe,Europe,85032,54.250000,False,NaN
115,Jersey,Northern Europe,Europe,100800,49.250000,False,NaN
216,Svalbard and Jan Mayen,Northern Europe,Europe,2562,78.000000,False,NaN

In [146]:
#En dónde se encuentran estos territorios dependientes 
np.unique(comparativo['Región'].values)

array(['Africa', 'Americas', 'Antarctic', 'Antarctic Ocean', 'Asia',
       'Europe', 'Oceania', 'Polar'], dtype=object)

In [138]:
#Existen 7 territorios dependientes en Europa
len(df_europa)

7

In [144]:
# Svalbard and Jan Mayen (territorio de Noruga) cuenta con la menor población y 
#se encuentra a una mayor latitud ¿coincidencia?

df_europa.sort_values(by=['Población'], ascending= True)

,Países/Colonias,Subregión,Región,Población,Latitud,Independiente,Gini
216,Svalbard and Jan Mayen,Northern Europe,Europe,2562,78.000000,False,NaN
1,Åland Islands,Northern Europe,Europe,28875,60.116667,False,NaN
86,Gibraltar,Southern Europe,Europe,33691,36.133333,False,NaN
74,Faroe Islands,Northern Europe,Europe,48865,62.000000,False,NaN
93,Guernsey,Northern Europe,Europe,62999,49.466667,False,NaN
110,Isle of Man,Northern Europe,Europe,85032,54.250000,False,NaN
115,Jersey,Northern Europe,Europe,100800,49.250000,False,NaN

### Para la región Polar

In [145]:
#Tratado Antártico:  Argentina, Australia, Bélgica, Chile, Estados Unidos, Francia, Japón, Noruega
#Nueva Zelanda, el Reino Unido, Sudáfrica, y la Unión Soviética
df_europa = comparativo[comparativo['Región']== 'Polar']
df_europa

  Países/Colonias   Subregión Región  Población  Latitud  Independiente  Gini
8      Antarctica  Antarctica  Polar       1000   -74.65          False   NaN

### Para la región de América

In [148]:

df_america = comparativo[comparativo['Región']== 'Americas']
df_america

,Países/Colonias,Subregión,Región,Población,Latitud,Independiente,Gini
7,Anguilla,Caribbean,Americas,13452,18.250000,False,NaN
24,Bermuda,Northern America,Americas,63903,32.333333,False,NaN
33,United States Minor Outlying Islands,Northern America,Americas,300,19.170000,False,NaN
34,Virgin Islands (British),Caribbean,Americas,30237,18.431383,False,NaN
35,Virgin Islands (U.S.),Caribbean,Americas,106290,18.340000,False,NaN
44,Cayman Islands,Caribbean,Americas,65720,19.500000,False,NaN
59,Curaçao,Caribbean,Americas,155014,12.116667,False,NaN
73,Falkland Islands (Malvinas),South America,Americas,2563,-51.750000,False,NaN
78,French Guiana,South America,Americas,254541,4.000000,False,NaN
88,Greenland,Northern America,Americas,56367,72.000000,False,NaN
90,Guadeloupe,Caribbean,Americas,400132,16.250000,False,NaN
140,Martinique,Caribbean,Americas,378243,14.666667,False,NaN
150,Montserrat,Caribbean,Americas,4922,16.750000,False,NaN
180,Puerto Rico,Caribbean,Americas,3194034,18.250000,False,NaN
187,Saint Barthélemy,Caribbean,Americas,9417,18.500000,False,NaN
191,Saint Martin (French part),Caribbean,Americas,38659,18.083333,False,NaN
192,Saint Pierre and Miquelon,Northern America,Americas,6069,46.833333,False,NaN
203,Sint Maarten (Dutch part),Caribbean,Americas,40812,18.033333,False,NaN
209,South Georgia and the South Sandwich Islands,South America,Americas,30,-54.500000,False,NaN
233,Turks and Caicos Islands,Caribbean,Americas,38718,21.750000,False,NaN

In [149]:
#20 territorios dependientes en América
len(df_america)

20

In [151]:
#¿en sub-región?
df_america.sort_values(by=['Subregión'], ascending= True)

,Países/Colonias,Subregión,Región,Población,Latitud,Independiente,Gini
7,Anguilla,Caribbean,Americas,13452,18.250000,False,NaN
203,Sint Maarten (Dutch part),Caribbean,Americas,40812,18.033333,False,NaN
191,Saint Martin (French part),Caribbean,Americas,38659,18.083333,False,NaN
187,Saint Barthélemy,Caribbean,Americas,9417,18.500000,False,NaN
180,Puerto Rico,Caribbean,Americas,3194034,18.250000,False,NaN
150,Montserrat,Caribbean,Americas,4922,16.750000,False,NaN
140,Martinique,Caribbean,Americas,378243,14.666667,False,NaN
90,Guadeloupe,Caribbean,Americas,400132,16.250000,False,NaN
233,Turks and Caicos Islands,Caribbean,Americas,38718,21.750000,False,NaN
59,Curaçao,Caribbean,Americas,155014,12.116667,False,NaN
44,Cayman Islands,Caribbean,Americas,65720,19.500000,False,NaN
35,Virgin Islands (U.S.),Caribbean,Americas,106290,18.340000,False,NaN
34,Virgin Islands (British),Caribbean,Americas,30237,18.431383,False,NaN
33,United States Minor Outlying Islands,Northern America,Americas,300,19.170000,False,NaN
192,Saint Pierre and Miquelon,Northern America,Americas,6069,46.833333,False,NaN
24,Bermuda,Northern America,Americas,63903,32.333333,False,NaN
88,Greenland,Northern America,Americas,56367,72.000000,False,NaN
209,South Georgia and the South Sandwich Islands,South America,Americas,30,-54.500000,False,NaN
73,Falkland Islands (Malvinas),South America,Americas,2563,-51.750000,False,NaN
78,French Guiana,South America,Americas,254541,4.000000,False,NaN

In [153]:
#El territorio con menor poblacion tiene también una latitud más baja 
#Puerto Rico es el territorio con el número de población más alta 
df_america.sort_values(by=['Población'], ascending= True)

,Países/Colonias,Subregión,Región,Población,Latitud,Independiente,Gini
209,South Georgia and the South Sandwich Islands,South America,Americas,30,-54.500000,False,NaN
33,United States Minor Outlying Islands,Northern America,Americas,300,19.170000,False,NaN
73,Falkland Islands (Malvinas),South America,Americas,2563,-51.750000,False,NaN
150,Montserrat,Caribbean,Americas,4922,16.750000,False,NaN
192,Saint Pierre and Miquelon,Northern America,Americas,6069,46.833333,False,NaN
187,Saint Barthélemy,Caribbean,Americas,9417,18.500000,False,NaN
7,Anguilla,Caribbean,Americas,13452,18.250000,False,NaN
34,Virgin Islands (British),Caribbean,Americas,30237,18.431383,False,NaN
191,Saint Martin (French part),Caribbean,Americas,38659,18.083333,False,NaN
233,Turks and Caicos Islands,Caribbean,Americas,38718,21.750000,False,NaN
203,Sint Maarten (Dutch part),Caribbean,Americas,40812,18.033333,False,NaN
88,Greenland,Northern America,Americas,56367,72.000000,False,NaN
24,Bermuda,Northern America,Americas,63903,32.333333,False,NaN
44,Cayman Islands,Caribbean,Americas,65720,19.500000,False,NaN
35,Virgin Islands (U.S.),Caribbean,Americas,106290,18.340000,False,NaN
59,Curaçao,Caribbean,Americas,155014,12.116667,False,NaN
78,French Guiana,South America,Americas,254541,4.000000,False,NaN
140,Martinique,Caribbean,Americas,378243,14.666667,False,NaN
90,Guadeloupe,Caribbean,Americas,400132,16.250000,False,NaN
180,Puerto Rico,Caribbean,Americas,3194034,18.250000,False,NaN

### Para visualizar el índice de desigualdad Gini

In [154]:
# De los 250 Territorios, solamente se tiene el gini de 167
dff2['Gini'].count()

167

In [171]:
#Cuáles son los lugares en donde si esta reportado el gini 
df_gini = dff2[dff2.Gini> 0]
df_gini

,Países/Colonias,Capital,Región,Subregión,Latitud,Longitud,Población,KM^2,Independiente,Gini
2,Albania,Tirana,Europe,Southern Europe,41.000000,20.000000,2837743,28748.0,True,33.2
3,Algeria,Algiers,Africa,Northern Africa,28.000000,3.000000,44700000,2381741.0,True,27.6
6,Angola,Luanda,Africa,Middle Africa,-12.500000,18.500000,32866268,1246700.0,True,51.3
10,Argentina,Buenos Aires,Americas,South America,-34.000000,-64.000000,45376763,2780400.0,True,42.9
11,Armenia,Yerevan,Asia,Western Asia,40.000000,45.000000,2963234,29743.0,True,29.9
...,...,...,...,...,...,...,...,...,...,...
243,Venezuela (Bolivarian Republic of),Caracas,Americas,South America,8.000000,-66.000000,28435943,916445.0,True,44.8
244,Vietnam,Hanoi,Asia,South-Eastern Asia,16.166667,107.833333,97338583,331212.0,True,35.7
247,Yemen,Sana'a,Asia,Western Asia,15.000000,48.000000,29825968,527968.0,True,36.7
248,Zambia,Lusaka,Africa,Eastern Africa,-15.000000,30.000000,18383956,752618.0,True,57.1
249,Zimbabwe,Harare,Africa,Southern Africa,-20.000000,30.000000,14862927,390757.0,True,50.3

In [172]:
#¿En dónde se encuentra el índice más bajo ?
#0 máxima igualdad 
#1 máxima desigualdad 

df_gini.sort_values(by=['Gini'], ascending= True)

,Países/Colonias,Capital,Región,Subregión,Latitud,Longitud,Población,KM^2,Independiente,Gini
205,Slovenia,Ljubljana,Europe,Southern Europe,46.116667,14.816667,2100126,20273.0,True,24.6
61,Czech Republic,Prague,Europe,Central Europe,49.750000,15.500000,10698896,78865.0,True,25.0
204,Slovakia,Bratislava,Europe,Central Europe,48.666667,19.500000,5458827,49037.0,True,25.0
20,Belarus,Minsk,Europe,Eastern Europe,53.000000,28.000000,9398861,207600.0,True,25.3
146,Moldova (Republic of),Chișinău,Europe,Eastern Europe,47.000000,29.000000,2617820,33846.0,True,25.7
...,...,...,...,...,...,...,...,...,...,...
196,Sao Tome and Principe,São Tomé,Africa,Middle Africa,1.000000,7.000000,219161,964.0,True,56.3
248,Zambia,Lusaka,Africa,Eastern Africa,-15.000000,30.000000,18383956,752618.0,True,57.1
215,Suriname,Paramaribo,Americas,South America,4.000000,-56.000000,586634,163820.0,True,57.9
154,Namibia,Windhoek,Africa,Southern Africa,-22.000000,17.000000,2540916,825615.0,True,59.1
208,South Africa,Pretoria,Africa,Southern Africa,-29.000000,24.000000,59308690,1221037.0,True,63.0

In [173]:
#¿que valor de índice tiene el país con mayor población y el de menor población?
df_gini.sort_values(by=['Población'], ascending= True)

,Países/Colonias,Capital,Región,Subregión,Latitud,Longitud,Población,KM^2,Independiente,Gini
155,Nauru,Yaren,Oceania,Micronesia,-0.533333,166.916667,10834,21.0,True,34.8
234,Tuvalu,Funafuti,Oceania,Polynesia,-8.000000,178.000000,11792,26.0,True,39.1
200,Seychelles,Victoria,Africa,Eastern Africa,-4.583333,55.666667,98462,452.0,True,32.1
228,Tonga,Nuku'alofa,Oceania,Polynesia,-20.000000,-175.000000,105697,747.0,True,37.6
145,Micronesia (Federated States of),Palikir,Oceania,Micronesia,6.916667,158.250000,115021,702.0,True,40.1
...,...,...,...,...,...,...,...,...,...,...
169,Pakistan,Islamabad,Asia,Southern Asia,30.000000,70.000000,220892331,881912.0,True,31.6
105,Indonesia,Jakarta,Asia,South-Eastern Asia,-5.000000,120.000000,273523621,1904569.0,True,38.2
239,United States of America,"Washington, D.C.",Americas,Northern America,38.000000,-97.000000,329484123,9629091.0,True,41.4
104,India,New Delhi,Asia,Southern Asia,20.000000,77.000000,1380004385,3287590.0,True,35.7
48,China,Beijing,Asia,Eastern Asia,35.000000,105.000000,1402112000,9640011.0,True,38.5

# Salida del DataFrame

In [184]:
#Convertir el último DataFRame a un csv
dff2.to_csv("dff2.csv", index = False)