# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [110]:
# import numpy and pandas
import numpy as np
import pandas as pd 
import math
import numpy as np
import scipy.stats as stats
from statsmodels.stats.weightstats import ztest

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [3]:
# Run this code:

salaries = pd.read_csv('Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [4]:
salaries.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [4]:
# Your code here:
salaries.isnull().sum()

Name                     0
Job Titles               0
Department               0
Full or Part-Time        0
Salary or Hourly         0
Typical Hours        25161
Annual Salary         8022
Hourly Rate          25161
dtype: int64

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [5]:
# Your code here:
salaries.groupby('Salary or Hourly').count()['Name']

Salary or Hourly
Hourly     8022
Salary    25161
Name: Name, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [6]:
# Your code here:
salaries.groupby('Department').count()['Name']

Department
ADMIN HEARNG                39
ANIMAL CONTRL               81
AVIATION                  1629
BOARD OF ELECTION          107
BOARD OF ETHICS              8
BUDGET & MGMT               46
BUILDINGS                  269
BUSINESS AFFAIRS           171
CITY CLERK                  84
CITY COUNCIL               411
COMMUNITY DEVELOPMENT      207
COPA                       116
CULTURAL AFFAIRS            65
DISABILITIES                28
DoIT                        99
FAMILY & SUPPORT           615
FINANCE                    560
FIRE                      4641
GENERAL SERVICES           980
HEALTH                     488
HUMAN RELATIONS             16
HUMAN RESOURCES             79
INSPECTOR GEN               87
LAW                        407
LICENSE APPL COMM            1
MAYOR'S OFFICE              85
OEMC                      2102
POLICE                   13414
POLICE BOARD                 2
PROCUREMENT                 92
PUBLIC LIBRARY            1015
STREETS & SAN             2198
TRANSPORTN                1140
TREASURER                   22
WATER MGMNT               1879
Name: Name, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [13]:
# Your code here:
import numpy as np
from scipy.stats import ttest_1samp

In [8]:
salaries.describe()

       Typical Hours  Annual Salary  Hourly Rate
count    8022.000000   25161.000000  8022.000000
mean       34.507604   86786.999790    32.788558
std         9.252077   21041.354602    12.112573
min        10.000000    7200.000000     2.650000
25%        20.000000   76266.000000    21.200000
50%        40.000000   90024.000000    35.600000
75%        40.000000   96060.000000    40.200000
max        40.000000  300000.000000   109.000000

In [54]:
is_sal=salaries[salaries['Salary or Hourly']=='Hourly']['Hourly Rate'].dropna()
is_sal2=pd.DataFrame(is_sal)
is_sal2.isnull().sum()

Hourly Rate    0
dtype: int64

In [55]:

null_mean =30

ztest_Score, p_value= ztest(is_sal2,value = null_mean, alternative='two-sided')
# the function outputs a p_value and z-score corresponding to that value, we compare the 
# p-value with alpha, if it is greater than alpha then we do not null hypothesis

In [56]:
p_value
#Alpha (0.05) < p_value. Anulamos H0, entonces el sueldo de los trabajadores es diferente de $30dls

array([1.82288739e-94])

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [60]:
is_police=salaries[salaries['Department']=='POLICE']['Annual Salary'].dropna()

In [78]:
# Your code here:
null_mean=86000
ztest_Score, p_value= ztest(is_police,value = null_mean, alternative='two-sided')

In [80]:
p_value/2
#Alpha (0.05) < p_value. Anulamos H0, entonces promedio del sueldo anual de los polcias es mayor $8,600dls

0.0010280845287547855

Using the `crosstab` function, find the department that has the most hourly workers.

In [109]:

pd.crosstab(salaries['Department'],salaries['Salary or Hourly'])['Hourly'].sort_values(ascending=False).head(1)

Department
STREETS & SAN    1862
Name: Hourly, dtype: int64

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [115]:
is_streets=salaries[salaries['Department']=='STREETS & SAN']['Hourly Rate'].dropna()
is_streets

7        35.60
21       21.43
24       35.60
36       36.21
39       35.60
         ...
33106    36.13
33107    35.60
33147    35.60
33149    36.21
33156    22.12
Name: Hourly Rate, Length: 1862, dtype: float64

In [117]:
# Your code here:


#perform one sample t-test
stats.ttest_1samp(a=is_streets, popmean=35)

Ttest_1sampResult(statistic=-9.567447887848152, pvalue=3.3378530564707717e-21)

In [120]:
pvalue=3.3378530564707717e-21/2
pvalue
#Alpha (0.05) < p_value. Anulamos H0, entonce el salario del departamento de 
#Streets tiene un salario menor a $35 dls la hora

1.6689265282353859e-21

In [122]:
is_streets.describe()

count    1862.000000
mean       33.728378
std         5.735242
min        19.500000
25%        35.600000
50%        35.600000
75%        36.210000
max        53.100000
Name: Hourly Rate, dtype: float64

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [127]:
is_conf=salaries['Hourly Rate'].dropna()
is_conf.isnull().sum()

0

In [130]:
std_err=stats.sem(is_conf, axis=None, ddof=-1)

In [132]:
# Your code here:
stats.t.interval(alpha=0.95, df=len(is_conf)-1, loc=np.mean(is_conf), scale=std_err)

(32.523491389369234, 33.05362404319333)

In [ ]:
#Con el 95% de confianza el promedio del salario por hora de 
#los trabajadores es (32.523491389369234, 33.05362404319333)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [154]:
is_conf3=salaries[salaries['Department']=='POLICE']['Annual Salary'].dropna()

In [153]:
std_err2=stats.sem(is_conf3, axis=None, ddof=-1)

In [155]:
stats.t.interval(alpha=0.95, df=len(is_conf3)-1, loc=np.mean(is_conf3), scale=std_err2)

(86177.07939399949, 86795.74961226729)

In [156]:
#El promedio con un 95% del salario anual de los policias es de (86177.07939399949, 86795.74961226729)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [161]:
is_hourly=len(salaries[salaries['Salary or Hourly']=='Hourly'])
total=len(salaries['Salary or Hourly'])

In [164]:
 from statsmodels.stats.proportion import proportions_ztest
proportions_ztest(count=is_hourly, nobs=total, value=0.25)

(-3.5099964213703005, 0.0004481127249057967)

In [ ]:
# #Alpha (0.05) < p_value. Anulamos Ho.El # número de trabajadores por hora es difernte del 25% 
#de la población total de trabajadores

In [ ]:
#https://www.statology.org/z-test-python/